body{
    text-align: center;
}
h3 {
    background-color: #638874; 
    color: white; 
    text-align: center;
    margin-right: 325px;
    margin-left: 150px;
    padding: 7px;
    font-size: 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    position: relative; top: 100px;
}
.collapsible {
    background-color: #638874;
    color: white;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    position: relative; top: 100px; 
    margin-top: 20px;
  }
  
  .active, .collapsible:hover {
    background-color: #174f3f;
  }
  
  .content {
    padding: 0 18px;
    display: none;
    overflow: hidden;
    background-color: #ededed;
    text-align: justify;
    width: 900px;
    position: relative; top: 100px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }
.contentTable{
    padding: 0 18px;
    display: none;
    overflow: hidden;
    position: relative; top: 100px;
    padding-bottom: 50px;
}
table {
    width: 50%;
    border-collapse: collapse;
    position: relative; top: 20px; left: 300px;
}
table tr td{
    border: 1px solid;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    border-color: #7a857f;
    background-color: #e1e1de;
    width: 420px;
}
.top{
    background-color: #174f3f;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.post3{
    position: relative; top: 300px;;
}
.exp{
    width: 600px;
    height: 150px;
    text-align: justify;
    position: relative; top: 310px;
}
.post4{
    position: relative; top: 320px;
}
.fb{
    width: 700px;
    height: 150px;
    text-align: justify;
    position: relative; top: 330px;
    padding-bottom: 200px;
}
body{
    z-index: 1;
}
