body {
    background-color: #ededed;
}
h1 {
    background-color: #63887d; 
    color: white; 
    margin-right: 500px; 
    padding: 12px;
    font-size: 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #2d6454;
    position: fixed;
    width: 100%;
    position: -webkit-sticky;
    position: sticky;
    border-top-left-radius: 0%;
    height: 100%;
    z-index: 1;
    top: 0;
    left: 0;
    overflow-x: hidden;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
a:hover {
    background-color: #174f3f;
  }
.active {
    background-color: #a0b1ac;
  }
 div ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: #63887d;
    height: 100%;
    position: fixed;
    top: 54px;
    padding: 8px 16px;
  }
  
 div li a {
    display: block;
    color: white;
    padding: 8px 16px;
    text-decoration: none;
    text-align: left;
    width: 200px;
  }
div li a:hover {
    background-color: #2d6454;
  }
  