h1 {
    background-color: #63887d; 
    color: white; 
    margin-right: 500px; 
    padding: 12px;
    font-size: 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
