body {
    background-color: #EAF3FF;
}
h1 {
    background-color: #6280A9; 
    color: white; 
    margin-right: 500px; 
    padding: 12px;
    font-size: 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
article {
    background-color: 
    white; 
    margin-right: 700px;
}
h3 {
    background-color:#92A8C6; 
    color: white;
}
.navi {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.bar {
    float: left;
}
a {
    display: block;
    padding: 12px;
    background-color: #6280A9;
}
.bar .bar-b .active {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
}
.bar .bar-b .active:hover {
    background-color: #3f5779;
  }
.active {
    background-color: #9cb4d5;
  }