body {background-color: #EAF3FF;}
h1 {background-color: #6280A9; color: white; margin-right: 500px; font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;}
article {background-color: white; margin-right: 700px;}
h3 {background-color: #92A8C6; color: white;}