body {
    background-color: #ededed;
}
main {
    grid-column: 2 / 3;
    padding-left: 15%;
    padding-top: 5%;
  }
.right-side {
    grid-column: 3 / 4;
  }  
footer {
    grid-column: 1 / 4;
  }
header ul {
    list-style-type: none;
    background-color: #638874;
    width: 100%;
    top: 0;
    position: fixed;
    overflow: hidden;
    margin: 0;
    padding: 0;
  }
header li {
    float: left;
  }
header li a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
  }
a:hover {
    background-color: #174f3f;
  }
.menu{
    position: relative; 
    left: -8px;
  }
.active {
    background-color: #a0b1ac;
  }
.sidenav{
  height: 100%;
  min-width: auto;
  position: fixed;
  z-index: 1;
  left: 0;
  background-color: #638874;
  overflow-x: hidden;
  padding-top: 10px;
  margin-top: 37px;
}
.sidenav ul{
  list-style-type: none;
  padding-left: 0;
  margin-top: 0;
}
.sidenav a{
  padding: 14px 8px 14px 16px;
  text-decoration: none;
  font-size: 16px;
  color: white;
  display: block;
  width: 160px;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}
div li a:hover {
    background-color: #174f3f;
  }

