main{
    padding-top: 0px;
}
table {
    width: 85%;
    border-collapse: collapse;
}
table tr td{
    border: 1px solid;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    border-color: #6c7f8d;
    background-color: #eff0f0;
    padding: 10px;
}
th td{
    padding: 15px;
    padding-top: 20px;
    padding-bottom: 20px;
}
.top{
    background-color: #62969b;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
label {
    padding-right: 10px;
    font-size: 1rem;
    position: relative; top: 10px;
}
progress {
    width: 80%;
    height: 20px;
    position: relative; top: 5px; left: 7px;
}
.NSBA{
    position: relative; left: 10px;
    color: green;
}
.progressText{
    position: relative; top: 10px;
}
.NSBAText{
    position: relative; top: 3px;
}
div{
    margin-bottom: 100px;
    top: 10px;
}